*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.body{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}



/*Loading*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #FFF;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
/* Loader */
.preload {
    width: 100vw;
    height: 100vh;
    background: rgb(255,0,118);
    background: -moz-linear-gradient(90deg, rgba(255,0,118,1) 0%, rgba(89,15,183,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,118,1) 0%, rgba(89,15,183,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,118,1) 0%, rgba(89,15,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0076",endColorstr="#590fb7",GradientType=1);
    position: fixed;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cerrar {
    opacity: 0;
    transition: all 0.5s;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}
.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}
                    


.alert__btnCancelar{
    background-color: white;
    color: tomato;
}
.alert__btnCancelar:not([disabled]):hover{
    background-color: tomato;
    color: white;
}
.alert__btnConfirmar{
    background-color: #222fa5;
}
.alert__btnConfirmar:not([disabled]):hover{
    background-color: #17206f;
}



.header{
    grid-area: header; 
    background: rgb(255,0,118);
    background: -moz-linear-gradient(90deg, rgba(255,0,118,1) 0%, rgba(89,15,183,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,118,1) 0%, rgba(89,15,183,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,118,1) 0%, rgba(89,15,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0076",endColorstr="#590fb7",GradientType=1);
    height: 7rem;
    border-radius: 0 0 2rem 2rem;
    border-bottom: 0.7rem solid #0f0f7c;
}
.header__logo{
    margin-left: 4rem;
    color: rgb(247, 175, 247);
    font-weight: bold;
}
.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 0;
    padding: 0;
}
.header__item{
    margin: 0 2rem;
    position: relative;
}
.header__anchor{
    color: rgb(188, 183, 183);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}
.header__anchor:hover{
    color: white;
}
.header__iconCarrito{
    font-size: 1.5rem;
    color: rgb(188, 183, 183);
    padding: 0.5rem;
}
.header__iconCarrito:hover{
    color: white;
}
.header__cantidad{
    color: yellow;  
    position: absolute;
    right: 3rem; 
    font-weight: 900;
    font-size: 0.9rem;
}



.main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}



.seccionBusquedaVacia{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccionBusquedaVacia__imageContainer{
    width: 100%;
    height: auto;
}
.seccionBusquedaVacia__image{
    height: 100%;
    width: 100%;
}
.seccionBusquedaVacia__button{
    margin-bottom: 4rem;
}



.seccionParametros{
    align-self: flex-start;
    background-color: rgb(250, 219, 250);
    border-radius: 0.4rem;
    border: 0.2rem solid violet;
    height: auto;
    margin: 1rem;
    width: auto;
}
.seccionParametros__titulo{
    font-weight: 800;
}
.seccionParametros__items{
    display: flex;
    flex-flow: column wrap;
}
.seccionParametros__label{
    color: rgb(245, 7, 245);
    font-weight: 800;
    cursor: pointer;
    font-size: 0.8rem;
}
.seccionParametros__check{
    cursor: pointer;
    margin-top: 0.33rem;
}



.seccionCarritoContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
}
.seccionCarrito{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.seccionCarrito__acciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.seccionCarrito__btn{
    height: 4rem;
    width: 14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
    padding-bottom: 0.6rem;
}
.seccionCarrito__btn--continuar{
    margin-left: 1rem;
    color: white;
    background: rgb(64,38,98);
    background: -moz-linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    background: linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#402662",endColorstr="#3900a6",GradientType=1);
}
.seccionCarrito__btn--continuar:hover{
    color: white;
    background-color: #0f0f7c;
    background: -moz-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    background: -webkit-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    background: linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f7c", endColorstr="#03207d", GradientType=1);
}
.seccionCarrito__precio{
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 900;
    color: #869FB2;
}
.seccionCarrito__importe{
    font-size: 1.2rem;
    font-weight: 900;
    color: #03207d;
    margin-left: 1rem;
}
.cardProductoCarrito{
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
.cardProductoCarrito__carritoVacio{
    font-size: 1.7rem;
    font-style: italic;
}
.cardProductoCarrito__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.2rem solid rgb(244, 230, 230);
    padding: 0;
}
.cardProductoCarrito__titulo{
    font-size: small;
    font-weight: bold;
    color: #333333;
    font-style: italic;
}
.cardProductoCarrito__importe{
    color: tomato;
    font-size: 0.9rem;
    font-weight: bold;
}
.cardProductoCarrito__imagenContainer{
    width: 15rem;
    height: auto;
}
.cardProductoCarrito__imagen{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cardProductoCarrito__descripcion{
    font-size: 0.8rem;
    font-style: italic;
    color: #0c0a83;
    font-weight: bold;
}
.cardProductoCarrito__cantidad{
    font-weight: bold;
    margin: 0 1rem 0 1.1rem;
    width: 2rem;
    text-align: center;
}
.cardProductoCarrito__botonDelete{
    width: auto;
    border: none;
    background: none;
}
.cardProductoCarrito__iconDelete{
    color: red;
    font-size: 1.2rem;
    background: none;
}
.cardProductoCarrito__iconDelete:hover{
    color: rgb(168, 27, 3);
}
.cardProductoCarrito__controladorCantidad{
    display: flex;
    flex-wrap: wrap;
}
.cardProductoCarrito__mjeError{
    font-size: 0.7rem;
    color: red;
    font-weight: bold;
}
.btnCantidad{
    border: none;
    background: none;
}
.iconCantidad{
    background: none;
    color: #869FB2;
    font-size: 1.3rem;
    padding-top: 0.2rem;
}
.iconCantidad:hover{
    color: #687b8a;
}
.flexVertical{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}



.seccionProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.cardProducto{
    width: 16rem;
    height: 30rem;
    margin: 1rem;
    padding: 0 1rem;
    border-radius: 0;
    box-shadow: 0 0.5rem 0.5rem 0 #333333;
}
.seccionProductos__select{
    justify-self: flex-end;
    width: 15rem;
    cursor: pointer;
    border: 0.2rem solid #222fa5;
}
.cardProducto__imageContainer{
    width: auto;
    height: 7rem;
}
.cardProducto__imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardProducto__body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.cardProducto__marca{
    margin-bottom: 0.8rem;
}
.cardProducto__descripcion{
    font-style: italic;
    color: #0c0a83;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    min-height: 3rem;
}
.cardProducto__precio{
    margin: 0 0 0.9rem 0;
    font-size: 1.2rem;
}
.cardProducto__strongPrecio{
    color: tomato;
}
.cardProducto__info{
    font-size: 0.9rem;
}
.cardProducto__strong{
    color: #333333;
}
.cardProducto__botonContainer{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.7rem;
}
.cardProducto__boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0.7rem;
    width: 8rem;
    border-radius: 0;
    border: none;
    background: rgb(64,38,98);
    background: -moz-linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    background: linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#402662",endColorstr="#3900a6",GradientType=1);
}
.cardProducto__boton:hover{
    background-color: #0f0f7c;
    background: -moz-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    background: -webkit-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    background: linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f7c", endColorstr="#03207d", GradientType=1);
}
.cardProducto__icon{
    margin-right: 0.5rem;
    color: green;
}
.cardProducto__loading{
    width: 1rem;
    height: 1rem;
    margin-top: 0.3rem;
}



.footer {
    grid-area: footer;
    background-color: #0f0f7c;
    background: -moz-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    background: -webkit-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    background: linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f7c", endColorstr="#03207d", GradientType=1);
    border-radius: 2rem 2rem 0 0;
    border-top: 0.7rem solid rgb(255,0,118);
}
.footer__list {
    list-style-type: none;
    margin: 2rem 0; 
}
.footer__list a:hover {
    color: white; 
}
.footer__titleH5 {
    color: white; 
}
.footer__item {
    text-decoration: none;
    line-height: 1.7rem;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.8rem;
    color: #869FB2; 
}
.footer__item i {
    font-size: 1.5rem; 
}
.footer__item i:hover {
    color: white; 
}



@media screen and (max-width: 550px){
    .cardProducto{
        height: auto;
    }
    .cardProducto__imageContainer{
        height: auto;
    }
    .seccionCarrito__btnAcciones{
        flex-direction: column;
    }
    .seccionCarrito__acciones{
        flex-direction: column;
        align-items: center;
    }
    .seccionCarrito__btn--continuar{
        margin-left: 0;
    }
    .seccionCarrito__importe{
        font-size: 0.9rem;
        margin-left: 0;
    }
    .seccionCarrito__precio{
        font-size: 0.9rem;
        padding-right: 0.5rem;
    }
    .finalizar{
        margin-right: 0;
    }
    .seccionCarritoContainer{
        width: auto;
    }
    .seccionCarrito__btn{
        font-size: 0.7rem;
        width: auto;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px){
    .header__nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo{
        margin-left: 0;
    }
    .header__list{
        margin: 0;
    }
    .header__item{
        margin: 0;
    }
    .cardProducto{
        width: 90%;
    }
    .cardProducto__imagen{
        overflow: hidden;
    }
    .cardProductoCarrito__carritoVacio{
        font-size: 1rem;
    }
}
