.body{
    background-color: rgb(250, 244, 244);
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header header header"
                         "actualizadorProductos actualizadorProductos actualizadorProductos"
                         "main main main"
                         "footer footer footer";
}



.main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 5rem 0;
}



.actualizadorProductos{
    grid-area: actualizadorProductos;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 5rem;
}
.actualizadorProductos__icon{
    font-size: 3rem;
    color: #0f1687;
    transition: transform .8s ease-in-out;
}
.actualizadorProductos__icon:hover{
    color: rgb(216, 31, 216);
    transform: rotate(360deg);
}



.header__buscador{
    width: 30%;
}
.header__input{
    border-radius: 1rem 0 0 1rem;
    border: 0.1rem solid white;
}
.header__btnBuscar{
    border-radius: 0 1rem 1rem 0;
    border: 0.1rem solid white;
    color: white;
}
.header__btnBuscar:hover{
    color: white;
    border: 0.1rem solid #0f0f7c;
    background: rgb(64,38,98);
    background: -moz-linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    background: linear-gradient(90deg, rgba(64,38,98,1) 0%, rgba(57,0,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#402662",endColorstr="#3900a6",GradientType=1);
}



@media screen and (max-width: 1150px){
    .header{
        height: 12rem;
    }
    .header__buscador{
        width: 70%;
        margin: 1rem 0;
    }
    .header__nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo{
        margin-left: 0;
    }
    .header__list{
        margin: 0;
    }
    .header__item{
        margin: 0;
    }
}
